html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #FFFFFF;
}

body {
    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;
}

#main_div {
    width: 40%;
}

#join {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;

    float: center;
}

#join .label {
    color: #444444;
    font-size: 13px;
    margin: 3px;
}

#join .input {
    padding: 4px;
    margin: 3px;
}

#join .button {
    padding: 4px;
    margin: 6px auto;
    width: 98%;

    display: flex;
    justify-content: center;
    background-color: #E4E7EB;
}