html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #FFFFFF;
}

body {
    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;
}

#text_select {
    display: flex;
    justify-content: right;
}

#text_select .right {
    display: flex;
    flex-direction:row;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    float: center;
}

#login .label {
    color: #444444;
    font-size: 13px;
    margin: 3px;
}

#login .input {
    padding: 4px;
    margin: 3px;
}

#login .button {
    padding: 4px;
    margin: 6px auto;
    width: 98%;

    display: flex;
    justify-content: center;
}

#join_txt {
    color: #000000;
    font-size: 10px;
    margin: 5px;
}

#join_txt:hover {
    color: #444444;
}